@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	
}
body
{
	display: none;
}
.geral
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin-left: 78%;
	margin-top: 3.5%;
	zoom: 85%;}
.box
{
	position: relative;
	width: 450px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #77777767;
	overflow: hidden;
	border-radius: 15px;
}
.box:before
{
	content: '';
	position: absolute;
	width: 250px;
	height: 325%;
	background: linear-gradient(315deg,#ffffff,#1d1d1d);
	animation: animate 10s linear infinite

}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

.box:after
{
	content: '';
	position: absolute;
	inset : 6px;
	background: #252525;
	border-radius: 15px;
	z-index: 2;
}
.dados
{
	display: flex;
	z-index: 2;
	font-size: 1em;
	color: rgb(255, 255, 255);
	z-index: 4;
}



.lateral
{
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-left: -200px;
	font-size: 15px;
}

.lateral div 
{
	display: flex;
	align-items: center;
	gap: 35px;
}
